<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>PSR Generator</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--bower:css-->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!--endbower-->

    <!--bower:js-->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!--endbower-->

    <!--inject:css-->
    <link rel="stylesheet" href="/css/styles.css">
    <!--endinject-->

    <!--inject:js-->
    <script src="/js/app.js"></script>
    <!--endinject-->

    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>

<body>
    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a href="/" class="navbar-brand">Home</a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/report">Report</a>
                    </li>
                    <li>
                        <a href="/dailyreport">Daily Report</a>
                    </li>
                    {{!--
                    <li>
                        <a href="">Login</a>
                    </li>--}}
                </ul>

            </nav>
        </div>
    </header>

    <div id="masthead">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>PSR Generator
                        <p class="lead"></p>
                    </h1>
                </div>
                <div class="col-md-5">
                </div>
            </div>
        </div>
        <!-- /cont -->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
        <!-- /cont -->

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <div>
                            <form class="well" action="/report" name="generate-report" mehtod="get">
                                <p class="bg-danger">{{errorMessage}}</p>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Week From:</label>
                                            <input type="date" name="since" class="form-control" value="{{entryStartDate}}">
                                        </div>
                                        <div class="col-md-4">
                                            <label>Week To:</label>
                                            <input type="date" name="until" class="form-control" value="{{entryEndDate}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Weekly PSR for</label>
                                            <input type="text" class="form-control" name="sha" value="{{queryParam.branch}}{{projectName}}" placeholder="ACT Milestone 2">
                                        </div>
                                        <div class="col-md-4">
                                            <label>Jira username:*</label>
                                            <input type="text" class="form-control" name="username" value="{{userInfo.username}}{{projectUser}}" placeholder="cmtanko">
                                        </div>
                                        <div class="col-md-4">
                                            <label>Project Status</label>
                                            <select class="form-control" name="projectStatus">
                                                <option value="On Track" selected="selected">On Track</option>
                                                 <option value="off Track" >Off Track</option>
                                           </select>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>JIRA Token:</label>
                                    <input type="text" class="form-control" name="token" value="{{userInfo.token}}{{projectToken}}">(64bit
                                    encoded token)
                                </div>
                                <button type="submit" class="btn btn-primary">Generate</button>
                            </form>
                        </div>
                        <h1>Report</h1>
                        <div contenteditable="true" class="holder" style="display:{{isHidden}}"> 
                        <div class="ritz grid-container" dir="ltr">
                            <table class="waffle" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr style='height:20px;'>
                                        <td class="s0" colspan="2">Weekly PSR for</td>
                                        <td class="s1">{{projectName}}</td>
                                        <td class="s0">As Of</td>
                                        <td class="s2">{{currentDate}}</td>
                                    </tr>
                                    <tr style='height:20px;'>
                                        <td class="s0" colspan="2">Week From</td>
                                        <td class="s3">{{startDate}}</td>
                                        <td class="s0">Week To</td>
                                        <td class="s2">{{endDate}}</td>
                                    </tr>
                                    <tr style='height:20px;'>

                                        <td class="s0" colspan="2">Overall Project Status</td>
                                        <td class="s4">{{projectStatus}}</td>
                                        <td class="s0">Remarks</td>
                                        <td class="s5"></td>
                                    </tr>
                                    <tr style='height:20px;'>

                                        <td class="s6" colspan="2"></td>
                                        <td class="s6"></td>
                                        <td class="s6"></td>
                                        <td class="s6"></td>
                                    </tr>
                                    <tr style='height:20px;'>

                                        <td class="s8">SN</td>
                                        <td class="s8" colspan="2">Planned Tasks (Last Week)</td>
                                        <td class="s8">Task Status</td>
                                        <td class="s0 softmerge">
                                            <div class="softmerge-inner" style="width: 189px; left: -1px;">Risks/Remarks</div>
                                        </td>
                                    </tr>
                                    {{#each lastWeekIssues}}
                                    <tr style='height:20px;'>
                                        <td class="s1">{{@index}}</td>
                                        <td class="s1" colspan="2">{{this.task_id}} | {{this.task_description}}</td>
                                        <td class="s5">{{this.task_status}}</td>
                                        <td class="s1"></td>
                                    </tr>
                                    {{/each}}

                                    <tr style='height:20px;'>

                                        <td class="s1"></td>
                                        <td class="s5" colspan="2"></td>
                                        <td class="s5"></td>
                                        <td class="s5"></td>
                                    </tr>
                                    <tr style='height:20px;'>

                                        <td class="s8">SN</td>
                                        <td class="s8" colspan="2">Planned Tasks (This Week)</td>
                                        <td class="s8">Task Status</td>
                                        <td class="s0 softmerge">
                                            <div class="softmerge-inner" style="width: 189px; left: -1px;">Risks/Remarks</div>
                                        </td>
                                    </tr>
                                    {{#each thisWeekIssues}}
                                    <tr style='height:20px;'>
                                        <td class="s1">{{@index}}</td>
                                        <td class="s1" colspan="2">{{this.task_id}} | {{this.task_description}}</td>
                                        <td class="s5">{{this.task_status}}</td>
                                        <td class="s1"></td>
                                    </tr>
                                    {{/each}}

                                    <tr style='height:20px;'>

                                        <td class="s1"></td>
                                        <td class="s5" colspan="2"></td>
                                        <td class="s5"></td>
                                        <td class="s5"></td>
                                    </tr>
                                    <tr style='height:20px;'>

                                        <td class="s8" colspan="5">Additional Notes</td>
                                    </tr>
                                    <tr style='height:20px;'>

                                        <td class="s1" colspan="5"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </div >
                    </div>
                </div>
            </div>
            <!--/col-12-->
        </div>
    </div>
</body>

</html>