<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>PSR Generator</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--bower:css-->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!--endbower-->

    <!--bower:js-->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!--endbower-->

    <!--inject:css-->
    <link rel="stylesheet" href="/css/styles.css">
    <!--endinject-->

    <!--inject:js-->
    <script src="/js/app.js"></script>
    <!--endinject-->

    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>

<body>
    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a href="/" class="navbar-brand">Home</a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/report">Report</a>
                    </li>
                    <li>
                        <a href="/dailyreport">Daily Report</a>
                    </li>
                    {{!--
                    <li>
                        <a href="">Login</a>
                    </li>--}}
                </ul>

            </nav>
        </div>
    </header>

    <div id="masthead">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>PSR Generator
                        <p class="lead"></p>
                    </h1>
                </div>
                <div class="col-md-5">
                </div>
            </div>
        </div>
        <!-- /cont -->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
        <!-- /cont -->

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <div>
                            <form class="well" action="/report" name="generate-report" mehtod="get">
                                <p class="bg-danger">{{errorMessage}}</p>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>From:</label>
                                            <input type="date" name="since" class="form-control">
                                        </div>
                                        <div class="col-md-4">
                                            <label>Till:</label>
                                            <input type="date" name="until" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Git Username:*</label>
                                            <input type="text" class="form-control" name="username" value="{{userInfo.username}}" placeholder="cmtanko">
                                        </div>
                                        <div class="col-md-4">
                                            <label>Git Reponame:*</label>
                                            <input type="text" class="form-control" name="reponame" value="{{userInfo.reponame}}" placeholder="testRepo">
                                        </div>
                                        <div class="col-md-4">
                                            <label>Git Branch:</label>
                                            <input type="text" class="form-control" name="sha" value="{{queryParam.branch}}">
                                        </div>
                                    </div>


                                </div>
                                <div class="form-group">
                                    <label>Git Token:</label>
                                    <input type="text" class="form-control" name="token" value="{{userInfo.token}}">(for
                                    private git repo only*)
                                </div>
                                <button type="submit" class="btn btn-primary">Generate</button>
                            </form>
                        </div>
                        <h1>Commits</h1>
                        <ul class="well">
                            {{#each repoDatas}}
                            <li>
                                <span>
                                    {{this.committedDate}} |
                                    {{this.committedBy}} | 
                                    {{this.commitMessage}} 
                                 </span>
                                <br>
                            </li>
                            {{/each}}
                        </ul>

                        <h1>Report</h1>

                        <div class="col-md-12">
                            Last week
                            <table style="width:100%;    font-weight: normal; font-family: Arial, Helvetica, sans-serif; font-size:13px; color:black">

                                {{#each lastWeekIssues}}
                                <tr class="report_row">
                                    <th style="width:5%; text-align: center;     font-weight: normal;">{{@index}}</th>
                                    <th style="width:0px"></th>
                                    <th style="width:75%;    font-weight: normal;">{{this.task_id}} | {{this.task_description}}</th>
                                    <th style="width:10%; text-align: center;    font-weight: normal;">{{this.task_status}}</th>
                                    <th style="width:10%; text-align: center;    font-weight: normal;">{{this.task_updated_date}}</th>
                                </tr>
                                {{/each}}
                            </table>
                            <br> This week
                            <table style="width:100%;    font-weight: normal; font-family: Arial, Helvetica, sans-serif; font-size:13px; color:black">
                                {{#each thisWeekIssues}}
                                <tr class="report_row">
                                    <th style="width:5%; text-align: center;     font-weight: normal;">{{@index}}</th>
                                    <th style="width:0px"></th>
                                    <th style="width:75%;    font-weight: normal;">{{this.task_id}} | {{this.task_description}}</th>
                                    <th style="width:10%; text-align: center;    font-weight: normal;">{{this.task_status}}</th>
                                    <th style="width:10%; text-align: center;    font-weight: normal;">{{this.task_updated_date}}</th>
                                </tr>
                                {{/each}}
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <!--/col-12-->
        </div>
    </div>
</body>

</html>